@model  IEnumerable<LibraryApplication.Models.Customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customer Details</h2>
<div class="container">
    <table class="table">
        <tr>
            <th>Customer ID</th>
            <th>Customer Name</th>
            <th>City</th>
            <th>Address</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelitem => item.CustomerID)</td>
                <td>@Html.DisplayFor(modelitem => item.CustomerName)</td>
                <td>@Html.DisplayFor(modelitem => item.City)</td>
                <td>@Html.DisplayFor(modelitem => item.Address)</td>
                <td>
                    @Html.ActionLink("Edit", "editCustomer", new { id = item.CustomerID }) |
                    @Html.ActionLink("Delete", "deleteCustomer", new { id = item.CustomerID })
                </td>
            </tr>
        }


    </table>
    @Html.ActionLink("CreateNewCustomer", "addCustomer");
</div>
